server:
  port: 8080

test:
#  map: {"key1":"value1","key2":"value2"}  这种方式也行
  map:
     key1: value1
     key2: value2
#  list: a,b,c,d,e,f  逗号隔开也行
  list:
    - a
    - b
    - c
    - d
    - e
    - f
  maps:
    key3: z,x,c,v,n
    key4:
       - m
       - b
       - l
       - k
  lists: #三个map
    - {"key5":"value5","key6":"value6"} #这里必须要加上 - ，这个代表一个map
    - key7: value7 #这个代表list中的一个map
    - key8: value8 #这个代表list中的一个map
  str: "nihao"


logging:
  level:
    root: INFO
spring:
  security:
    user:
      name: user
      password: "$2a$10$q89xjTup1uXoS4AoGbb0DOSgJBqS9taubwvC3JbEsGgBJbAXWazF2"
      roles: admin



devtools:
  restart:
    exclude: static/**,public/**

person:
  username: zhangsan
  age: 18
  boss: false
  birthday: 2017-12-12
  graduateTime: 2019/12/01 23:23:23
  map: {k1: 1, k2: 2}
  list: [1,2,5,6]
  list1: 2,3,4,5,
  list2:
    - 1
    - 2
    - 3
  dog:
     name: dahuang
     age: ${person.age}
     alias: xiao_${person.dog.name}


enable:
  mycondition: true